@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body, html{
    width: 100%;
    font-family: 'Quicksand', 'Noto Sans Japanese', serif;
    text-align: center;
    margin: auto;
}

input{
    margin: 5px;
}

table{
    width: 100%;
    margin: auto;
}

table tr{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.item_date{
    flex-basis: 50%;
    text-decoration: underline;
}

.item_name{
    flex-grow: 3;
    flex-basis: 100%;
}

.item_balance{
    flex-basis: 50%;
}

textarea{
    width: 90%;
}

div#header{
    font-size: 1.2em;
    margin: 10px auto;
}

span#current_version{
    font-size: 0.9em;
}

div#total_bill{
    font-size: 1.1em;
}