@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body, html{
    width: 100%;
    font-family: 'Quicksand', 'Noto Sans Japanese', serif;
    text-align: center;
    margin: auto;
}

input{
    margin: 5px;
}

nav{
    margin: 0px auto 10px auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: white;
}

li{
    text-decoration: none;
    display: inline-block;
}

table{
    width: 100%;
    margin: auto;
}

table tr{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

div#particles-js{
    position: absolute;
    z-index: -1;
}

.item_date{
    flex-basis: 50%;
    text-decoration: underline;
}

.item_name{
    flex-grow: 3;
    flex-basis: 100%;
}

.item_balance{
    flex-basis: 50%;
}

.item_balance{
    flex-basis: 60%;
}

textarea{
    width: 90%;
}

div#header{
    font-size: 1.2em;
    padding: 10px;
}

span#current_version{
    font-size: 0.9em;
}

div.total_bill{
    font-size: 1.1em;
}

div.month{
    text-decoration: underline;
    color: rgba(128, 128, 128, 0.6);
}

div.activeMonth{
    font-weight: bold;
    font-size: 1.1em;
    color: rgba(255, 51, 153, 0.9);
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.v-enter-active {
    transition: all .8s ease;
}

.v-leave-active {
    /*transition: all .5s ease;*/
}

.v-enter{
    transform: translate(100%, 0);
    opacity: 0;
}

.v-leave-to{
    /*transform: translate(-100%, 0);*/
    opacity: 0;
}