@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body, html{
    width: 100%;
    font-family: 'Quicksand', 'Noto Sans Japanese', serif;
    text-align: center;
    margin: auto;
}

div#header{
    font-size: 1.2em;
    margin: 10px auto;
}

span#current_version{
    font-size: 0.9em;
}