<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="images/icon.jpg">
    <title>家計簿</title>
    <link rel="stylesheet" href="css/bootstrap4.1.3.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="header">
        家計簿 <span id="current_version">v3.4.2</span>
    </div>

    <hr>

    <div id="content">

        <div id="particles-js"></div>

        <div id="book">
            <div id="content-header">
                <form action="" @submit.prevent="addTodo(newName, newBalance, newDate, newHow)">
                    <input type="text" placeholder="アイテム" v-model="newName" required><br>
                    <input type="number" placeholder="金額" step="0.01" v-model="newBalance" required><br>
                    <div class="sample">
                        <input type="radio" id="on"name="how" v-model="newHow" value="card" required>
                        <label for="on" class="switch-on">Card</label>
                        <input type="radio" id="off" name="how" v-model="newHow" value="cash" required>
                        <label for="off" class="switch-off">Cash</label>
                    </div><br>
                    <input type="date" v-model="newDate" required><br>
                    <input type="submit" value="登録" id="itemResistButton" class="btn btn-primary">
                </form>

                <nav id="menu">
                    <li class="btn btn-outline-info" @click="selectTab(1)">全件表示</li>
                    <li class="btn btn-outline-info" @click="selectTab(2)">月別表示</li>
                    <li class="btn btn-outline-info" @click="selectTab(3)">賃貸表</li>
                    <li class="btn btn-outline-info" @click="selectTab(4)">設定</li>
                </nav>
            </div>

            <div class="tabContent">
                <transition>
                    <div v-if="isActiveTab(1)" class="tabs">
                        <div class="total_bill" v-if="day_bill == 0.0">合計金額 : ${{ totalBill }}</div>
                        <div class="total_bill" v-else-if="day_bill != 0.0">合計金額 : ${{ day_bill }}</div>

                        <table class="table table-borderless">
                            <tr v-for="item in items" v-if="isDispDay(item.date.split('T')[0].replace('-', '/').split('/')[1])">
                                <td class="item_date" @click="setDsipDay(item.date.split('T')[0].replace('-', '/').split('/')[1])">{{ item.date.split('T')[0].replace('-', '/').split('/')[1] }} {{ item.day }}</td>
                                <td class="item_name" @click="setDispItem(item.name)">{{ item.name }}</td>
                                <td class="item_balance">${{ item.balance }}</td>
                                <td class="item_delete"><button class="btn btn-outline-danger" v-on:click="deleteItemFromList(item, vm.items, 'items')">✗</button></td>
                            </tr>
                        </table>

                        <hr>

                        <div id="import">
                            データインポート  
                            <form action="" @submit.prevent="importData(importedData)">
                                <textarea v-model="importedData" :rows="10" placeholder="exportしたデータを貼り付けてください" required></textarea>
                                <input type="submit" value="読み込み" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </transition>

                <transition>
                    <div v-if="isActiveTab(2)" class="tabs">
                        <div class="container-fluid">
                            <div class="row">
                                <div v-for="month in months" class="col-2 col-sm-2 col-md-1 month" @click="setMonth(month)" v-bind:class="{activeMonth:isActiveMonth(month)}">{{ month }}</div>
                            </div>
                        </div>

                        <div id="visualization">
                            {{ nowMonth }}の浪費度合 : {{ Math.round((monthlyBills[months.indexOf(nowMonth)] / totalBill) * 10000) / 100 }}%<br>
                            {{ nowMonth }}の浪費金額 : ${{ Math.round(monthlyBills[months.indexOf(nowMonth)] * 100) / 100 }}
                        </div>

                        <table class="table table-borderless">
                            <tr v-for="item in items" v-if="isDispMonth(item.date.split('T')[0].replace('-', '/').split('/')[1].replace('-', '/').split('/')[0])">
                                <td class="item_date">{{ item.date.split('T')[0].replace('-', '/').split('/')[1] }}</td>
                                <td class="item_name">{{ item.name }}</td>
                                <td class="item_balance">${{ item.balance }}</td>
                                <td class="item_delete"><button class="btn btn-outline-danger" v-on:click="deleteItemFromList(item, vm.items, 'items')">✗</button></td>
                            </tr>
                        </table>
                    </div>
                </transition>

                <transition>
                    <div v-if="isActiveTab(3)" class="tabs">
                        <form action="" @submit.prevent="addLentMoney(lentName, lentBalance, lentHow, lentDate)">
                            <input type="text" placeholder="相手" v-model="lentName" required><br>
                            <input type="number" placeholder="金額" step="0.01" v-model="lentBalance" required><br>
                            <input type="radio" name="how" v-model="lentHow" value="give" required>貸した
                            <input type="radio" name="how" v-model="lentHow" value="take" required>借りた<br>
                            <input type="date" v-model="lentDate" required><br>
                            <input type="submit" value="登録" class="btn btn-primary">
                        </form>

                        <table class="table table-borderless">
                            <tr v-for="lent in lents">
                                <td class="item_date">{{ lent.date }}</td>
                                <td class="item_name">{{ lent.name }}</td>
                                <td v-if="lent.how == 'give'">貸</td>
                                <td v-if="lent.how == 'take'">借</td>
                                <td class="item_balance">${{ lent.balance }}</td>
                                <td class="item_delete"><button class="btn btn-outline-danger" v-on:click="deleteItemFromList(lent, vm.lents, 'lents')">✗</button></td>
                            </tr>
                        </table>
                    </div>
                </transition>

                <transition>
                    <div v-if="isActiveTab(4)" class="tabs">
                        <form action="" @submit.prevent="changeUserID(userID)">
                            <input type="text" placeholder="ユーザID" v-model="userID" required><br>
                            <input type="submit" value="登録" v-if="!isResisteredUser()" class="btn btn-primary">
                        </form>
                    </div>
                </transition>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.1.14.3.min.js"></script>
    <script src="js/bootstrap4.1.3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/sha256.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/common.js"></script>
    <script>
        // Check that service workers are registered
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>
</body>
</html>
